body {
  font: 16px "Century Gothic", Futura, sans-serif;
  margin: 1em 0;
  background-color: white;
}

main {
  width: 100%;
  max-width: 90em;
  margin: auto;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-around;
}

h1, h2 {
  font-family: 'Indy Serif', serif;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  margin: 1em auto;
  color: hotpink;
}

h2 {
  font-size: 0.8em;
  text-align: right;
  color: #555;
}

aside {
  padding: 1em;
}

ol, ul {
  padding: 0;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #f2f1f0;
}

button[type="button"]:hover, .mode-btn[type="button"]:hover {
  background-color: #ff82a7;
}

p {
  line-height: 1.4;
}

a {
  color: hotpink;
}


.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  height: 100px;
  margin: 0.3em auto;
  padding: 14px 0 10px 3px;
}
.page.binary-mode {
  padding: 12px 3px 12px 3px;
}
.page.explainer-mode {
  padding: 12px 3px 12px 8px;
}

.number {
  width: 40px;
  text-align: center;
  color: #636363;
}
.number.power-of-2.decimal-mode,
.number.power-of-2.binary-mode,
.number.power-of-2.explainer-mode,
.number .significant-digit {
  font-weight: bold;
  color: #570a57;
}

.equation {
  font-family: 'Century Gothic', Futura, sans-serif;
  font-weight: bold;
  color: #570a57;
  line-height: 1;
}
.equation .number {
  color: #570a57;
}

.explainer {
  max-width: 40em;
}

.control {
  width: 100%;
  margin: 1em auto;
  max-width: 20em;
}
.modes {
  list-style: none;
  padding: 0;
  margin-top: 2em;
}

.mode-option {
  display: block;
  padding: 0;
  margin: 1em 0;
}

.mode-btn {
  outline: none;
  position: relative;
  border: none;
  width: 100%;
  padding: 1.5em 0 0.5em;
  margin: 0;
  text-align: center;
}
.mode-btn span {
  display: block;
  margin: 0.2em;
  padding: 0.5em;
}
.mode-btn :first-child {
  width: 7ch;
  margin: auto;
  border: 2px dashed darkgrey;
  color: grey;
  font-size: 0.8em;
  padding: 0.2em 0.3em;
}

.answer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.controls {
  max-width: 15em;
  font-family: monospace;
}
.answer-component {
  margin: 0.5em 1em;
}
.number-label, .number-mystery, .number-reveal {
  margin-top: 0.7em;
}
.number-label {
  text-align: right;
}
.reveal-button {
  padding: 0.8em;
  text-transform: uppercase;
  background-color: pink;
  font-weight: bold;
}


.copyright {
  font-size: 0.9em;
  text-align: right;
  padding: 2em 2em 0 0;
  color: gray;
}



/*
 * Layout Progressive Enhancement
 */

@supports (height: 1vh) {
  header {
    height: 15vh;
  }

  .pages {
    height: 80vh;
  }
}

@supports (display: grid) {
  .page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}


/*
 * STATE
 */

.page.selected {
  background-color: pink;
}

.number.binary-mode,
.number.explainer-mode {
  letter-spacing: -1px;
  line-height: 2;
  font-size: 70%;
  font-family: monospace;
}

.mode-btn.current {
  background-color: pink;
}
.mode-btn.current :first-child {
  border-color: #666;
}

.mode-btn:hover :first-child {
  color: #666;
  border-color: white;
}


/*
 * CALCULATIONS
 */

.binary-calculation {
  width: 6em;
  text-align: right;
}

.binary-addends {
  border-bottom: 1px solid black;
}

.binary-addend:last-child::before {
  content: '+';
  margin-right: 0.5em;
  font-size: 85%;
}



/*
 * PRINT
 */


.print, .print-btn, .attribution { display: none; }

@media only print {
  body { font-size: 12px; }
  .mystery-calculator > * { display: none; }
  .mystery-calculator > .print { display: block; }

  h2 { text-align: center; font-size: 2em; }
  .page { max-width: 200px; height: initial; }
  .number { width: initial; }
}

@media only screen and (min-width: 1350px) {
  .book {
    grid-template-columns: 500px 6fr 3fr;
  }
  .controls {
    max-width: none;
  }
  .mode-btn {
    min-height: 4em;
    padding: 2em 0;
  }
  .mode-btn :first-child {
    width: auto;
    font-size: 1em;
    position: absolute;
    right: 63%;
    padding: 0.5em 0.7em;
    top: 0.8em;
  }
  .mode-btn :nth-child(2) {
    position: absolute;
    left: 38%;
    top: 0.6em;
  }
}


@media only screen and (min-width: 900px) {
  .book {
    display: grid;
    grid-template-columns: 500px 5fr 2fr;
  }

  .number.binary-mode,
  .number.explainer-mode {
    font-size: 85%;
  }
}

@media only screen and (min-width: 500px) {
  .print-btn {
    /* mobile-first */
    display: initial;
    cursor: pointer;
    position: fixed;
    right: 1em;
    top: 1em;
  }
  .print-btn svg {
    max-width: 2em;
  }
  .printer-icon path {
    fill: hotpink;
    opacity: 1;
  }
  .attribution {
    display: inline-block;
    padding-left: 2ch;
  }
}

@media only screen and (min-width: 400px) {
  .number.binary-mode {
    padding: 0 5px;
  }
}